:root {
  --primary-color: #f20a41;
  --light-primary-color: rgba(242, 10, 65, 0.8);
  --menu-font-color: rgba(0, 0, 0, 0.8);
  --backround-color: #e9e9e9;
  --border-color: lightgrey;
  --header-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  --menu-button-color: #f2f2f2;
}
