.header {
  position: fixed;
  z-index: 1;
  width: calc(100% - 30px);
  height: 60px;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--border-color);
  box-shadow: var(--header-shadow);
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__search-bar {
  display: flex;
  align-items: center;
}

.header__input {
  width: 400px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border: 1.5px solid var(--border-color);
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.header__search-button:active,
.header__input:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

.header__search-button {
  width: 35px;
  height: 35px;
  border: none;
  background: url("../assets/search.svg");
  background-color: var(--background-color);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1.5px solid var(--border-color);
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

.header__search-button:hover,
.header__search-button:checked {
  background-color: var(--light-primary-color);
}

.header__microphone-button,
.header__notification-button,
.header__menu-button {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  border: none;
  opacity: 0.5;
  outline: none;
}

.header__microphone-button:hover,
.header__notification-button:hover,
.header__menu-button:hover {
  opacity: 1;
}

.header__right-buttons {
  display: flex;
  flex-direction: row;
}

.header__notification-button {
  margin-left: auto;
  background: url("../assets/notification.svg");
}

.header__menu-button {
  background: url("../assets/menu.svg");
  background-size: 30px 30px;
}

.header__menu-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 30px;
  right: 25px;
  min-width: 150px;
  padding: 5px;
  box-shadow: var(--header-shadow);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.header__menu-content > li {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: var(--menu-font-color);
  margin: 2.5px;
  padding: 2.5px;
}

.header__menu-content > li:last-child {
  border-top: 1px solid var(--border-color);
}

.header__menu-content > li:hover {
  background-color: var(--light-primary-color);
  border-radius: 3px;
  padding: 5px;
  color: white;
}

.header__menu:hover > .header__menu-content {
  display: block;
}

.header__search-button:hover,
.header__logo:hover,
.header__microphone-button:hover,
.header__notification-button:hover,
.header__menu-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .header__input {
    width: 250px;
  }
}
