.main {
  width: calc(100% - 310px);
  height: calc(100% - 90px);
  position: absolute;
  top: 60px;
  left: 280px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* categories */
.main__categories {
  min-height: 50px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  overflow-x: scroll;
}

.main__category {
  margin: 5px;
  background-color: var(--menu-button-color);
  border: 1px solid var(--border-color);
  height: 10px;
  min-width: 80px;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  transition: 0.3s;
}

.main__category:first-child {
  background-color: var(--light-primary-color);
  color: white;
}

.main__category:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

/* videos */
.main__videos {
  display: flex;
  flex-wrap: wrap;
}

.main__video {
  position: relative;
  display: grid;
  grid-template-rows: 180px 50px;
  grid-template-columns: 250px;
  grid-template-areas: "preview" "info";
  border: 1px solid var(--border-color);
  background-color: var(--menu-button-color);
  box-shadow: var(--header-shadow);
  margin: 10px;
}

.main__video-play__wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-75%) translateX(-50%);
  z-index: 1;
}

.main__video-play {
  width: 80px;
  height: 80px;
}

@keyframes play {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes brigtness {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.5);
  }
}

.main__video:hover .main__video-play__wrapper {
  cursor: pointer;
  display: block;
  animation: play ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main__video:hover .main__video-preview__wrapper {
  filter: brightness(0.5);
  animation: fadein ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main__video-live__wrapper {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
}

.main__video-live {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.main__video-views__wrapper {
  position: absolute;
  top: 75%;
  left: 95%;
  transform: translateY(-100%) translateX(-100%);
  z-index: 1;
}

.main__video-views {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.main__video-preview__wrapper {
  grid-area: preview;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main__video-info {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-template-rows: 25px 25px;
  grid-template-areas: "avatar title" "avatar author";
}

.main__video-avatar__wrapper {
  grid-area: avatar;
  padding: 2.5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.main__video-author-avatar {
  width: 45px;
  height: 45px;
}

.main__video-author-name {
  grid-area: author;
}

.main__video-title {
  grid-area: title;
}

.main__video-author-name,
.main__video-title {
  display: flex;
  margin-left: 5px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.main__video-title {
  color: rgba(0, 0, 0, 0.8);
}

.main__video-author-name {
  color: grey;
  font-size: 12px;
  font-weight: 200;
}

.main__footer {
  margin-top: auto;
}

.main__footer-text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 28px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
