.sidebar {
  margin-top: 60;
  padding: 15px;
  top: 60px;
  width: 250px;
  background-color: var(--primary-color);
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1.5px solid var(--border-color);
  box-shadow: var(--header-shadow);
  display: grid;
  grid-template-areas: "users" "contacts";
  grid-template-rows: 3fr 2fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.sidebar__users {
  grid-area: users;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
  transition: 0.3s;
}

.sidebar__user:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
}

.sidebar__user:hover > .sidebar__user-name {
  color: var(--light-primary-color);
}

.sidebar__user:hover > .sidebar__user-views {
  color: var(--light-primary-color);
}

.sidebar__user-avatar__wrapper {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar__user-avatar {
  height: 50px;
}

.sidebar__user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__user-name,
.sidebar__user-views {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 14px;
  max-width: 80px;
  margin-right: 5px;
}

.sidebar__pulsating-dot {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid rgb(14, 201, 86);
  background-color: rgba(49, 184, 72, 0.5);
  border-radius: 100%;
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.sidebar__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__contacts-header {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}

.sidebar__contacts-header::selection {
  color: var(--light-primary-color);
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0px;
}

.sidebar__contacts-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.sidebar__contacts-icon {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.sidebar__contacts-icon:hover {
  cursor: pointer;
  -webkit-filter: invert(0.75);
  filter: invert(0.75);
}

@media only screen and (max-width: 1200px) {
  .sidebar__user-name {
    display: none;
  }

  .sidebar {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
